img {
  border:4px solid black;
}

button{
  background-color:#7C333A;
  border: none;
  color: white;
  padding: 15px 30px;
  text-align: center;  
  align-content: center;
}

/*blogcard Content - Setting the Flexbox for the cards*/
.nested_blogcard{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-evenly;
  align-items: center;
}

.blogcard_content{
  border: 5px solid #4B7B96;
  height: auto;
  width: auto;  
  border-radius: 5px;
  width: 180px;
}

#bc-card1{
  text-align: center;
  font-size: 1.25em;
  margin: 0.25em;
  padding: 0.1em;
  height: auto;
  min-width: 250px;
}

#bc-card2{
  text-align: center;
  font-size: 1.25em;
  margin: 0.25em;
  padding: 0.1em;
  height: auto;
  min-width: 250px;
}